<nav>
    <ul>
       <li><a href="./addresto" <% if (title === 'addresto') { %>class="active" <% } %> ><img src="/img/plus.png" alt=""></a></li>
       
       <li><a href="./about" <% if (title === 'about') { %>class="active" <% } %> ><img src="/img/logo.png" alt=""></a></li>
       <li><a href="./food" <% if (title === 'food') { %>class="active" <% } %> ><img src="/img/eten.png" alt=""></a></li>
    </ul>
 </nav>
