<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about you</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <h1>Tell us about yourself</h1>
    </header>

    <main>
        <form method="GET" action="/result">
            <fieldset class="data">
                
                <label for="place">postalcode</label>
                <input type="text" id="place" name= "place" required> 
                
                    </select>
            </fieldset>
            <input type="submit" value="Find!">
        </form>
        </main>
    
</body>
</html>