<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about you</title>
    <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
    <header>
        <h1>Tell us about yourself</h1>
    </header>

    <main>
        <form method="get" action="/result">

            <fieldset class="data">
                <label for="location">City</label>
                <select name="location" id="city">
                  <option name="city" value="Amsterdam">Amsterdam</option>
                  <option name="city" value="Den haag">Den haag</option>
                  <option name="city" value="Rotterdam">Rotterdam</option>
                </select>
            </fieldset>
            <input type="submit" value="Find!" id="Find">
        </form>

        <figure class="cirkel">

            <img src="/img/cirkel.png" alt="achtergrondcirkel">

        </figure>
      

        </main>
     <script src="/script/form.js"></script>
</body>
</html>