<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>
<body>
    
    <%- include('includes/header.ejs') -%>

    <div class="inner">

        <h1><%=save%></h1>



        <form action="/ditistijdelijk" method="post"> </form>
        <input type="text" name="eenvariabele"> 
        <button>Voeg toe</button>

    </div>

    <%- include('includes/footer.ejs') -%>

</body>
</html>