<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/food.css">
    <link rel="stylesheet" href="css/<%-title %>.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>
<body>
    <main>
     
        <section>
     
         <div class="container">
            <div class="row text-center">
               <h3>
                  Don't know what to eat?
               </h3>
               <h5>Get a random dish by clicking below</h5>
               <button class="button-primary" id="get_meal">Get food!</button>
            </div>
            <div id="meal" class="row meal"></div>
         </div>

        </section>
     
     </main>
     
     <script src="/script/randomfood.js"></script>

     <%- include('partials/nav.ejs') %>
</body>
</html>

<!----documentatiebron:https://www.freecodecamp.org/news/creating-a-random-meal-generator/ -->