<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>

        <section>
     
           <h2>Food Picker</h2>
     
           <p>
               Don't know what to eat? 
               Try out the food generator! 
           </p>
        
        </section>
     
     
        <section>
     
           <article>

              <figure> 
                 <img src='https://foodish-api.herokuapp.com/images/biryani/biryani32.jpg' class="etenThumbnail" alt="fotovaneten">
              </figure>
           
              <article>
                 <h3 class="randomFood">Biryani</h3>
                 <h4>Rice with chicken</h4>
              </article>
     
           </article>
           
           <button class="generateFood" type="button" onclick="getRandomFood()">Random</button>
     
        </section>
     
     </main>
     
     <script src="/script/randomfood.js"></script>
</body>
</html>