<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/styles/result.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>

<header>
    <nav>
        <li>
            <ul>
    
            </ul>
            <ul>

            </ul>
            <ul>

            </ul>
        </li>


    </nav>
</header>

<body>
    <main>

        <section>
     
           <h1>Restaurant</h1>
        
           <% results.forEach(result => { %>

            <ul>
            
            <li><%- result.name %> </li>
            
            </ul>
            
            
            
            <% }); %>
        
        </section>
        
     </main>

 
   
</body>
</html>