

.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #EBBF69;
}
.index h1{
    text-align: center;
}

.index img{
    width: 50%;
    align-self: flex-end;
    height: auto;
    margin-right: 1em;
    margin-top: 9em;
    position: absolute;
    z-index: 99;
}

.index a {
    color:black;
    padding: 1em 2em;
    margin-top: 5em;
    position: absolute;
    top: 10em;
    z-index: 1;
    border-radius: 1.2em;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    background-color: #EBBF69;
}
.cirkel {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: white;
    z-index: 0;
    top: 10em;
    position: relative;
}
